body {
    background-color: solid black;
    padding: 250px;
}
.box {
    padding: 50px;
    margin: 1px;
}
.col-1 {
    width: 100px;
    height: 100px;
}

.block1 {background-color: purple;}
.block2 {background-color: yellow;}
.block3 {background-color: red;}
.block4 {background-color: blue;}
.block5 {background-color: green;}
.block33 {background-color: purple}
.block44 {background-color: yellow;}
